
body {
    top: 20px;
    background-color:#232741;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

main{
    text-align: justify;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(170, 27, 27, 0.137);
    padding: 10px;
}
h1{
    text-align: center;
}

#resultado{background-color: black;text-align: center;
padding: 10px;}
